POSTGRES_DB=iaops
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

REDIS_PORT=6379
API_PORT=8000
FRONTEND_PORT=5173

IAOPS_DB_SCHEMA=iaops_gov
IAOPS_CRYPTO_KEY=
IAOPS_APP_LLM_PRICE_PER_1K_CENTS=50

IAOPS_SMTP_HOST=
IAOPS_SMTP_PORT=587
IAOPS_SMTP_USER=
IAOPS_SMTP_PASS=
IAOPS_SMTP_FROM=
IAOPS_SMTP_STARTTLS=1

